@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>

        <nav class="blockquote-footer bg-body-tertiary position-relative bottom-0 w-100 m-0 h-25" data-bs-theme="dark">
            <div class="text-center mt-2">
                <p class="m-0 py-1">&copy; Daniel Zuzčák. All Rights Reserved.</p>
            </div>
        </nav>
    </main>
</div>
