@page "/"

<PageTitle>Home</PageTitle>

<div class="custom_table d-flex justify-content-center">
    <table class="table table-striped table-dark w-50 mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Stav</th>
            <th scope="col">Názov</th>
            <th scope="col">Prijatie</th>
            <th scope="col">Náročnosť</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
        </tbody>
    </table>
</div>

