@page "/"
@using CodeHub.Data.Models
@inject NavigationManager NavigationManager
@inject CodeHub.Services.ProblemService ProblemService

<PageTitle>Home</PageTitle>

<div class="container-fluid">
<div class="d-flex justify-content-center mt-5 gap-2 flex-wrap">
    <div class="sorting_buttons mt-3 gap-2 w-50 w-md-50">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Počet otázok
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#" @onclick="() => SetProblemCount(10)">zobraziť 10 otázok </a></li>
                <li><a class="dropdown-item" href="#" @onclick="() => SetProblemCount(20)">zobraziť 20 otázok</a></li>
                <li><a class="dropdown-item" href="#" @onclick="() => SetProblemCount(30)">zobraziť 30 otázok</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Zoznam
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">50 najobľúbenejších otázok </a></li>
                <li><a class="dropdown-item" href="#">50 najľahších otázok</a></li>
                <li><a class="dropdown-item" href="#">50 najťažších otázok</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Obťažnosť
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#" style="color:green;">Ľahká</a></li>
                <li><a class="dropdown-item" href="#" style="color:darkorange;">Stredná</a></li>
                <li><a class="dropdown-item" href="#" style="color:red;">Ťažká</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Značky
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Array</a></li>
                <li><a class="dropdown-item" href="#">String</a></li>
                <li><a class="dropdown-item" href="#">Sorting</a></li>
                <li><a class="dropdown-item" href="#">Hash Table</a></li>
            </ul>
        </div>
    </div>
<div class="custom-table">
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Stav</th>
                <th scope="col">Názov</th>
                <th scope="col">Prijatie</th>
                <th scope="col">Náročnosť</th>
            </tr>
            </thead>
            <tbody>
            @if (_problems.Any())
            {
                foreach (var (problem, index) in _problems.Take(_maxProblemsToShow).Select((p, i) => (p, i + 1)))
                {
                    <tr>
                        <th scope="row">@index</th>
                        <td></td> 
                        <td>@problem.Title</td>
                        <td>@($"{problem.Acceptance:P}")</td>
                        <td>@problem.Difficulty</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">Načítavam úlohy...</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="navigation mb-2 w-100">
    <nav aria-label="Page navigation example" class="d-flex justify-content-around">
        <ul class="pagination bg-dark d-flex flex-wrap">
            <li class="page-item"><a class="page-link bg-dark link-primary" href="#">&lt;</a></li>
            <li class="page-item"><a class="page-link bg-dark link-primary" href="#">1</a></li>
            <li class="page-item"><a class="page-link bg-dark link-primary" href="#">2</a></li>
            <li class="page-item"><a class="page-link bg-dark link-primary" href="#">3</a></li>
            <li class="page-item"><a class="page-link bg-dark link-primary" href="#">></a></li>
        </ul>
    </nav>
</div>
</div>
</div>