<div class="tooltip-wrapper">

    <span id="spanText">@((MarkupString)Text)</span>

    @ChildContent

</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Text { get; set; }
}

<style>
    .tooltip-wrapper {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        cursor: help;
    }

    .tooltip-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }

    #spanText {
        visibility: hidden;
        position: absolute;
        width: 300px; /* Nastavená šírka tooltipu, podľa potreby upravte */
        bottom: 100%;
        left: 50%;
        margin-left: -150px; /* Upravte podľa šírky, aby sa tooltip centroval */
        background-color: #363636;
        color: #fff;
        text-align: left; /* Môžete nastaviť na 'center', ale 'left' bude lepšie pre dlhé riadky */
        padding: 10px; /* Väčší padding pre lepší vzhľad */
        border-radius: 6px;
        z-index: 1;
        word-wrap: break-word; /* Umožňuje zalamovanie textu */
    }

        #spanText::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip-wrapper:hover #spanText {
        visibility: visible;
    }
</style>
